<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rivers.user.dao.SysMenuDao">

    <resultMap id="BaseResultMap" type="com.rivers.user.api.entity.SysMenuModel">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="permission" property="permission"/>
        <result column="path" property="path"/>
        <result column="parent_id" property="parentId"/>
        <result column="icon" property="icon"/>
        <result column="component" property="component"/>
        <result column="sort" property="sort"/>
        <result column="keep_alive" property="keepAlive"/>
        <result column="type" property="type"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <select id="getMenuByRoleId" resultType="java.lang.String">
		SELECT menu.permission
		FROM sys_menu menu
		LEFT JOIN sys_role_menu role_menu ON menu.id = role_menu.menu_id
		WHERE role_menu.role_id IN ${id}
		AND menu.is_delete = 0
	</select>

    <select id="getMenuByUserId" resultMap="BaseResultMap">
		SELECT
        	a.id,
	        a.`name`,
	        a.path,
	        a.parent_id,
	        a.icon,
	        a.component,
	        a.sort,
	        a.type
        FROM
        	sys_menu a
        	LEFT JOIN sys_role_menu b ON a.id = b.menu_id AND b.is_delete = 0
        	LEFT JOIN sys_user_role c ON b.role_id = c.role_id
        	AND c.is_delete = 0
        WHERE
        	c.user_id = 'T00001'
        	AND a.type = 0
        	AND a.is_delete = 0
	</select>

</mapper>
