<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rivers.user.dao.SysRoleMenuDao">

    <resultMap id="BaseResultMap" type="com.rivers.user.api.entity.SysRoleMenuModel">
        <result column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="menu_id" property="menuId"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <select id="getMenuIdByRoleId" resultType="java.lang.Integer">
		SELECT a.menu_id
		FROM sys_role_menu a
		LEFT JOIN sys_menu b ON a.menu_id = b.id
		WHERE a.role_id = #{roleId}
		AND   a.is_delete = 0
		AND   b.parent_id &lt;&gt; -1
    </select>

    <update id="updateByRoleId" parameterType="com.rivers.user.api.entity.SysRoleMenuModel">
        UPDATE sys_role_menu SET is_delete = #{isDelete}
        WHERE role_id = #{roleId}
    </update>

</mapper>