<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rivers.nba.dao.PlayerDao">

    <resultMap id="BaseResultMap" type="com.rivers.nba.model.PlayerModel">
        <result column="id" property="id"/>
        <result column="jersey" property="jersey"/>
        <result column="last_name" property="lastName"/>
        <result column="photo_url" property="photoUrl"/>
        <result column="player_id" property="playerId"/>
        <result column="position" property="position"/>
        <result column="position_category" property="positionCategory"/>
        <result column="salary" property="salary"/>
        <result column="status" property="status"/>
        <result column="team" property="team"/>
        <result column="team_id" property="teamId"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="weight" property="weight"/>
        <result column="birth_city" property="birthCity"/>
        <result column="birth_country" property="birthCountry"/>
        <result column="birth_date" property="birthDate"/>
        <result column="birth_state" property="birthState"/>
        <result column="college" property="college"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="experience" property="experience"/>
        <result column="first_name" property="firstName"/>
        <result column="height" property="height"/>
        <result column="draft_kings_name" property="draftKingsName"/>
    </resultMap>

    <select id="selectPlayerId" resultType="java.lang.Integer">
		SELECT player_id FROM player
	</select>

    <select id="selectPlayerPage" resultMap="BaseResultMap">
        SELECT
           player_id,
           team,
           team_id,
           height,
           weight,
           `position`,
           birth_date,
           birth_city,
           college,
           salary,
           experience,
           draft_kings_name,
           jersey
        FROM
           `player`
        WHERE
            1
        <if test="record.playerName != null and record.playerName != '' ">
            AND draft_kings_name = #{record.playerName}
        </if>
        <if test="record.position != null and record.position != ''">
            AND `position` = #{record.position}
        </if>
        <if test="record.team != null and record.team != ''">
            AND team = #{record.team}
        </if>
        <if test="record.teamId != null and record.teamId != 0">
            AND team_id = #{record.teamId}
        </if>
        <if test="record.playerId != null and record.playerId != 0">
            AND player_id = #{record.playerId}
        </if>
    </select>

</mapper>
